.idea
*.DS_Store
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant

/logs

# PHP

/vendor
# Build data
/build/

# Composer PHAR
/composer.phar

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
/composer.lock
.phpunit.result.cache




# Node
/node_modules
npm-debug.log
yarn-error.log


# Email spool folder
/app/spool/*
